 body{
    background-color:beige;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

header{
    background-color: white;
    font-weight: bold;
    text-align: left;
    margin: 0px;
    padding: 0px;
    background: url(https://es.gizmodo.com/app/uploads/2025/05/Diseno-sin-titulo-49-10.jpg);
}


header {
  position: relative;
  padding: 20px;
  background-color: #f0f0f0;
 }
 header img{
    width: 25%;
}
header img:hover{
    transform: scale(1.05);
}

.menu{
  list-style: none;
   display: flex;
   gap: 20px;
   position: absolute;
   top: 10px;   
   right: 20px;
    margin: 0;
   padding: 0;   
}


  .menu li {
  padding: 5px 10px; 
   border-radius: 4px;
   transition: 0.3s;
}

.menu li:hover{
  background-color: #ddd;
  }


.menu li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}