body{
    background-color:beige;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

header{
    background-color: white;
    font-weight: bold;
    text-align: left;
    margin: 0px;
    padding: 0px;
    background: url(https://es.gizmodo.com/app/uploads/2025/05/Diseno-sin-titulo-49-10.jpg);
}

header {
  position: relative;
  padding: 20px;
  background-color: #f0f0f0;
 }


.menu{
  list-style: none;
   display: flex;
   gap: 20px;
   position: absolute;
   top: 10px;   
   right: 20px;
    margin: 0;
   padding: 0;   
}


  .menu li {
  padding: 5px 10px; 
   border-radius: 4px;
   transition: 0.3s;
}

.menu li:hover{
  background-color: #ddd;
  }


.menu li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
header img{
    width: 25%;
}
header img:hover{
    transform: scale(1.05);
}


nav ul{
list-style: none;
padding: 0;
margin: 0;
display: flex;
gap: 50px;
justify-content: center;
font-weight: bold;
}

nav ul li{
display: inline;    
}

nav ul li a{
    text-decoration: none;
    color: inherit;
}

section h2{
    text-align: center;
    font-weight: bold;
}


section h2 p{
    font-family: 'Times New Roman', Times, serif;
    margin: 2px;
    padding: 2px;
}

section h1{
    text-align: center;
}
.texto-centro{
    max-width: 700px;
     margin: 0 auto;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
}

.paquetes{
    display: flex;
    justify-content: center;
    gap: 20px;  
     margin-top: 20px;
}

.paquetes img{
     width: 30%;
     border-radius: 10px;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.item {
    text-align: center;
}

.item img {
    width: 350px;
    border-radius: 12px;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.card {
     background-color: rgb(255, 252, 252);
     padding: 15px;
     border-radius: 12px;
      width: 350px;   
      text-align: center;
     box-shadow: 0 0 12px rgba(0,0,0,0.15);
}

.card img {
    width: 100%;
    border-radius: 10px;
}



.card p {
    color: red;
}

.card img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.4s ease;
}

.card:hover img {
    transform: scale(1.07);
}

footer{
    font-weight: bold;
    background-color: beige;
    text-align: center;
}